<footer class="nec-footer">

<div class="container footer-grid">

<div class="footer-contact">

<h3><i class="fa-solid fa-phone"
    style="color:#ffd200; font-size:30px; margin-right:10px;"></i> Contact</h3>

<p style="color:#ffd200 !important; font-weight:700 !important;">
    <i class="fas fa-phone-alt"></i>
    01-5221012 (Office Hour only)
</p>

<p style="color:#ffd200 !important; font-weight:700 !important;">
    <i class="fab fa-whatsapp"></i>
    9741802096 (Call/Whatsapp/Viber)
</p>
<i class="fa-solid fa-user"></i>
Er. Rupesh Dahi Shrestha<br>
Co-ordinator, Admission Committee 2025
</p>

<p>
<i class="fa-solid fa-envelope"></i>
entrance@nec.edu.np
</p>

</div>


<div class="footer-payment">

<h3><i class="fa-solid fa-credit-card"style="color:#ffd200; font-size:30px; margin-right:10px;">
    
</i> Payment Info</h3>

<p>Registration Charge: <strong>Rs. 1,000/-</strong></p>

<p>Pay online via <strong>eSewa</strong> or <strong>Khalti</strong></p>

<p class="payment-warning">
Online payments must be done using this form only not via separate apps.
</p>

</div>


<div class="footer-links">

<h3><i class="fa-solid fa-link"></i> Quick Links</h3>

<ul>

<li><a href="#"><i class="fa-solid fa-angle-right"></i> Entrance Application</a></li>

<li><a href="#"><i class="fa-solid fa-angle-right"></i> Model Questions</a></li>

<li><a href="#"><i class="fa-solid fa-angle-right"></i> Scholarship</a></li>

<li><a href="https://nec.edu.np/images/files/Prospectus-2025.pdf" target="_blank"><i class="fa-solid fa-angle-right"></i> Prospectus</a></li>

</ul>

</div>

</div>


<div class="footer-bottom">
© 2025 Nepal Engineering College. All Rights Reserved.
</div>

</footer>