{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% if site %}{{ site.college_name }}{% else %}nec Entrance{% endif %}</title>

    
</head>
<body>

    {% include 'includes/header.html' %}

    {% block content %}{% endblock %}
    {% if active_popup %}
<div class="popup-overlay" id="dynamicPopup">
    <div class="popup-box">
        <button class="popup-close" onclick="closePopup()">&times;</button>

        {% if active_popup.image %}
            <div class="popup-image-wrap">
                <img src="{{ active_popup.image.url }}" alt="{{ active_popup.title }}" class="popup-image">
            </div>
        {% endif %}

        <div class="popup-content">
            <h2>{{ active_popup.title }}</h2>

            {% if active_popup.message %}
                <p>{{ active_popup.message|linebreaksbr }}</p>
            {% endif %}

            {% if active_popup.button_text and active_popup.button_link %}
                <a href="{{ active_popup.button_link }}" class="popup-btn">
                    {{ active_popup.button_text }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="chatbot-widget">
    <button class="chatbot-toggle" id="chatbotToggle" type="button">💬</button>

    <div class="chatbot-box" id="chatbotBox">
        <div class="chatbot-header">
            <span>nec Assistant</span>
            <button class="chatbot-close" id="chatbotClose" type="button">×</button>
        </div>

       <div class="chatbot-messages" id="chat-body">
    <div>Welcome to nec Admission Assistant.</div>
</div>

<div class="chat-suggestions">
    <button class="nec-chip" data-message="admission process">Admission</button>
    <button class="nec-chip" data-message="fee structure">Fee</button>
    <button class="nec-chip" data-message="contact">Contact</button>
    <button class="nec-chip" data-message="syllabus">Syllabus</button>
    <button class="nec-chip" data-message="program">Program</button>
        <button class="nec-chip" data-message="Entrance">Entrance</button>


</div>

<div class="chatbot-input-area">
    <input type="text" id="chat-input" placeholder="Type your question...">
    <button type="button" id="chat-send-btn">Send</button>
</div>
    </div>
</div>

    {% include 'includes/footer.html' %}
    
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>