{% extends "base.html" %}
{% block content %}

<section class="section section-light">
<div class="container">
    <div class="back-btn-wrapper">
    <a href="/" class="back-btn">
    ← Back to Home
    </a>
    </div>

<div class="downloads-grid">

{% for item in downloads %}

<div class="download-card">

    <div class="download-left">

        <div class="download-icon">
            📄
        </div>

        <div>
            <h3 class="download-title">{{ item.title }}</h3>
<p class="download-desc">{{ item.description }}</p>

{% if item.external_link %}
    <p class="direct-link-text">
        🔗 <a href="{{ item.external_link }}" target="_blank">
            {{ item.external_link }}
        </a>
    </p>
{% endif %}

{% if item.file %}
        <a href="{{ item.file.url }}" target="_blank" class="btn-small btn-blue">
            Download
        </a>
    {% elif item.external_link %}
        <a href="{{ item.external_link }}" target="_blank" class="btn-small btn-blue">
            Open Link
        </a>
    {% else %}
        <span class="btn-small btn-blue">No File</span>
    {% endif %}
        </div>
    </div>
</div>

{% empty %}

<p>No downloads available.</p>

{% endfor %}

</div>

</div>
</section>
{% endblock %}