{% extends 'base.html' %}

{% block content %}

<section class="section section-light">
    <div class="container">
        <div class="card" style="max-width: 900px; margin: 0 auto;">

            <div style="margin-bottom: 20px;">
                <a href="/" class="btn-small btn-blue">← Back to Notices</a>
            </div>

            <div class="section-kicker">Notice Details</div>
            <h1 style="font-size: 34px; color: #10234d; margin-bottom: 10px;">
                {{ notice.title }}
            </h1>

            <p style="color: #6b7890; margin-bottom: 24px; font-size: 15px;">
                Published Date: {{ notice.published_date }}
            </p>
 {% if notice.file %}

                
                {% if notice.is_pdf %}
                    <div style="margin: 25px 0;">
                        <iframe src="{{ notice.file.url }}"
                                style="width: 100%; height: 850px; border: 1px solid #d7e2ef; border-radius: 10px;">
                        </iframe>
                    </div>
                 {% else %}
        <div style="margin: 25px 0; text-align: center;">
            <img src="{{ notice.file.url }}"
                 alt="{{ notice.title }}"
                 style="max-width: 100%; height: auto; border-radius: 10px; border: 1px solid #d7e2ef;">
        </div>
    {% endif %}
                 <div class="notice-download-box">
                <a href="{{ notice.file.url }}" target="_blank" class="download-btn">
                    Download Notice
                </a>
            </div>

        {% endif %}
            

            <div style="color: #42506a; font-size: 16px; line-height: 1.9;">
                {% if notice.description %}
                    {{ notice.description|linebreaks }}
                {% else %}
                    <p>No detailed description available for this notice.</p>
                {% endif %}
            </div>

        </div>
    </div>
</section>

{% endblock %}